*{
    border: 0;
    padding: 0;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cube{
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 6s alternate-reverse infinite;
}

@keyframes animate {
    0%
    {
        transform: rotateX(-30deg) rotateY(0);
    }
    25%
    {
        transform: rotateX(-30deg) rotateY(90deg);
    }
    50%
    {
        transform: rotateX(-30deg) rotateY(180deg);
    }
    75%
    {
        transform: rotateX(-30deg) rotateY(0);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 255, 13));
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}


.top{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(27, 27, 27);
    transform: rotateX(90deg) translateZ(99px);
}


.top::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 255, 13);
    transform: translateZ(-250px);
    filter: blur(20px);
    box-shadow: 0 0 200px rgba(0, 255, 13, 0.4), 
    0 0 200px rgba(0, 255, 13, 0.6), 
    0 0 300px rgba(0, 255, 13, 0.8), 
    0 0 500px rgba(0, 255, 13, 1);
}

.wing{
    height: 100px;
    width: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY();
    animation: swing 6s linear infinite;
}

@keyframes swing {
    0%
    {
        transform: rotateX(-30deg) rotateY(0);
    }
    25%
    {
        transform: rotateX(-30deg) rotateY(90deg);
    }
    50%
    {
        transform: rotateX(-30deg) rotateY(180deg);
    }
    75%
    {
        transform: rotateX(-30deg) rotateY(0);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.wing div{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.wing div span{
    border: solid black 2px;
    background: lightseagreen;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(30deg * var(--o))) translateY(-100px);
}

